<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>vue-hello</title>
</head>

<body>

    <main id="vueContainer">

        <input v-model="text"> 
        <h1 v-model="stampa">{{text}}</h1>

        <div id="imgContainer">
            <img v-model="img" src="img/1200px-Vue.js_Logo_2.svg.png">
        </div>

        

    </main>

    <script src="script.js"></script>
</body>

</html>